.appearance {
  margin: 0.25rem 1rem;
  text-align: center;

  @include landscape {
    order: -1;
  }
}

.appearance__image {
  border: 0.3125rem solid;
  border-image: var(--gradient) 5;
}

.appearance__details {
  background: var(--gradient);
  font-size: 0.625rem;
  margin: 0 .5625rem;
  font-style: italic;
  line-height: 1rem;

  @include landscape {
    margin: 0.125rem 1rem 0;
  }
}
